<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-2.1.1.min.css"
    rel="stylesheet" type="text/css" />

    <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-2.1.1.min.css"
    rel="stylesheet" type="text/css">

    <script src="http://cdn.pydata.org/bokeh/release/bokeh-2.1.1.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-2.1.1.min.js"></script>

    {{ script | safe }}

    <title>Bokeh - Medium</title>
  </head>
  <body>
    <h1>Hello, from Django!</h1>

    {{ div | safe }}

  </body>
</html>
